Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
TabWidth:        4
UseTab:          Never
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
SpacesInParentheses: false
BreakConstructorInitializers: BeforeComma
SortIncludes:    true